body{
    background: #fecc99;
    background: url('./symbols.jpg') no-repeat, #fecc99;
    background-position-x: center;
    margin: 0;
}


h1{
    font-family: 'Gotham Medium';
    font-size: 125px;
    color: #0081ff;
}

span{
    color: #004486;
}

h2{
    font-family: 'Gotham Medium';
    font-size: 50px;
    color: #bf1d00;
}

#intro{
    margin: 100px auto;
    width: 987px;
    
}

#intro-first{
    display: flex;
    margin: auto;
 
}

#intro-photo{
    width: 500px;
    height: 500px;
    border-radius: 360px;
    margin-right: -86px;
}

#intro h2{
    width: 573px;
    margin-left: 414px;
    margin-top: -86px;
    background: #fecc99;
}

.project-description{
    color: dodgerblue;
}

#hi{
    margin-top: 125px;
    width: 361px;
}


#border{width: 90%; border-bottom: 8px dashed #0081ff; height: 10px; margin:auto;}

#projects{
    background: #fecc99;
    display: flex;
    flex-wrap: wrap;
   
    /* margin: 100px auto; */
}

.project-div{
    display: flex;
    margin: 25px 0;
    background: tomato;
    border-radius: 0 20px 20px 0;
    width: 80%;
    justify-content: space-evenly;
    overflow: hidden;
}

.project-div:nth-of-type(2), :nth-of-type(4){
    border-radius: 20px 0 0 20px;
    background: dodgerblue;
    margin-left: auto;
}

.project-text{
    width: 500px;
}

.project-text:nth-child(2){
    text-align: end;
}

.project-header:nth-of-type(1){
    color: #004486
}

.project-video{
    width: 300px;  
    overflow: hidden;
    max-height: 300px;
}

@media screen and (max-width:1024px){

    #intro{
        width: fit-content;
    }

    #intro-first{
        width: inherit;
    }
    #intro h2{
        margin: auto;
        width: 75%;
    }

    #intro-text{
        width: 100%;
    }
}

@media screen and (max-width:800px){
    .project-div{
        width: 90%;
    }

    #intro h2{
        margin-left: 124px;
        font-size: 46px;
    }
    #intro-photo{
        height: 300px;
        width: 300px;
        margin-right: -30px;
    }

    #intro-first{
        width: fit-content;
    }

    #hi{
        font-size:100px;
        width: min-content;
        margin-top: 20px;
    }
}

@media screen and (max-width: 414px){
    #intro{
        margin-bottom: 24px;
    }

    #border{
        display: none;
    }
    #hi{
        margin-bottom: 12px;
        font-size: 19vw;
    }
    #intro h2{
        font-size: 6vw;
        padding-left: calc((81vw - 180px)/2);
        margin: 0;    
    }
    #intro-photo{
        height: 200px;
        width: 200px;
        margin-right: -20px;
    }

    #projects{
        margin: auto;
        background: linear-gradient(90deg,tomato 50%, dodgerblue 50%)
    }
    .project-header{
        font-size: 6vw;
        margin: auto;
        width: 40vw;
        text-align: center;
    }
    .project-div{
        width: 100%;
        margin: 0;
    }
    .project-text{
        width: 50vw;
        height: 50vw;
        /* background: #0081ff */
    }
    .project-video{
        width: 50vw;
        height: 50vw;
        background: black;
    }
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('./Gotham\ Medium\ Regular.ttf')
}