body{
    background: #fecc99;
    background: url('./symbols.jpg') no-repeat, #fecc99;
    background-position-x: center;
}


h1{
    font-size: 125px;
    color: dodgerblue;
}

h2{
    font-size: 50px;
    color: tomato;
}

#intro{
    margin: 100px auto;
    width: 987px;
    
}

#intro-first{
    display: flex;
    margin: auto;
}

#intro-photo{
    width: 500px;
    height: 500px;
    border-radius: 360px;
    margin-right: -86px;
}

#intro h2{
    width: 573px;
    margin-left: 414px;
    margin-top: -86px;
    background: #fecc99;
}

#hi{
    margin-top: 125px;
    width: 361px;
}


#border{width: 90%; border-bottom: 8px dashed dodgerblue; height: 10px; margin:auto;}

#projects{
    background: #fecc99;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 100px auto; */
}

.project-div{
    
    display: flex;
    margin: 25px 0;
}

.project-text{
    width: 500px;
}


.project-video{
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: dodgerblue;
}

@media screen and (max-width:1000px){
    #intro h2{
        margin: auto;
        width: 75%;
    }

    #intro-text{
        width: 100%;
    }
}